table tr td{
    width: 250px;
    text-align: center;
}
table {
    margin-top: 20px;
}
tr td img {
    margin: 10px 0px 10px 10px;
}
h1{
    text-align: center;
}
td input {
    width: 50px;
}
