ul.root>li {
    list-style: none;
    position: relative;
}

ul.root>li>a {
    text-decoration: none;
    color: black;
    padding: 0px 15px 0px 15px;
    line-height: 40px;
    display: block;
}

ul.root>li>a:hover {
    background: orange;
    color: red;
    transition: ease-in 0.35s;
    -moz-transittion: ease-in 0.35s;
    -webkit-transition: ease-in 0.35s;
}

ul.submenu {
   width: 240px;
background: #fff;
    display: none;
    position: absolute;
}
ul.submenu>li {
    list-style: none;

}

ul.submenu>li {
    list-style: none;
    text-align: center;
}
ul.submenu>li>a {

    text-decoration: none;
    display: block;
    border-top: 1px solid #ccc;
    line-height: 40px;
  
}
ul.root>li:hover ul.submenu {
    display: block;
}
ul.submenu>li>a:hover {
    background: orange;
    color: red;
    transition: ease-in 0.35s;
    -moz-transittion: ease-in 0.35s;
    -webkit-transition: ease-in 0.35s;
}